@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la Tarea 4</h1>
    <h1 class="display-5">ASP.NET Core MVC Web App con Razor Pages</h1>
    <div style="flex: 1;flex-direction: row; jutsify-content: space-between;">
    <a asp-controller="Libros" asp-action="GetLibros" class="btn btn-primary">Ver Libros</a>
    <a asp-controller="Libros" asp-action="CreateLibro" class="btn btn-primary">Añadir Libro</a>
    </div>
</div>
